body{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14pt;
}
.container{
    width:400px;
    margin:0 auto;
}
form{
    width:400px;
    margin:0 auto;

}
p{
    padding: 10px;
}



#select{
  height:35px;
  width:250px;
  padding:5px;
}
  
  #input-pri{
    display: none;
  }
  #input-radio{
    display: none;
  }
  
  form .labels {
    width: 50px;
    height: 50px;
    display: block;
    transition: 0ms;
    position: relative;
  }
  
  
  input[type="checkbox"]:not(:checked) + label {
    background-image: url('form-elements-sprite-50pxH.png');
    background-position-x:0px;

  }
  
  #input-pri:checked + label {
    background-image: url('form-elements-sprite-50pxH.png');
     background-position-x:-55px;
  }

  input[type="radio"]:not(:checked) + label {
    background-image: url('form-elements-sprite-50pxH.png');
    background-position-x:165px;

  }
  
  #input-radio:checked + label {
    background-image: url('form-elements-sprite-50pxH.png');
     background-position-x:108px;
  }


  input[type=submit] {
    background-color: #CCC;
    border: 0;
    width: 75px;
    height: 35px;
    font-size:14pt;
    color:#333;
 }

 input[type=submit]:hover {
  background-color: #333;
  border: 0;
  width: 75px;
  height: 35px;
  font-size:14pt;
  color:#fff;
}

 #input-validate{
  height:25px;
  width:250px;
  padding:5px;
}

#input-required{
  height:25px;
  width:250px;
  padding:5px;
  border:1px solid red;
}
p{
  padding-top:0px;

}


  
 
  
