* {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
  }
  
  #input-pri{
    display: none;
  }
  
  form .labels {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
  }
  
  
  input[type="checkbox"]:not(:checked) + label {
    background-color: red;
    background-image: url('form-elements-sprite-50pxH.png');
    background-position-x:0px;

  }
  
  #input-pri:checked + label {
    background-color: green;
    background-image: url('form-elements-sprite-50pxH.png');
    transition: opacity 0.5s;
     background-position-x:-50px;
    
  }
  
 